:root {
    --header-background:#ffffff80;
    --main-background: linear-gradient(45deg, rgba(110, 57, 233, 0.8), rgba(237, 30, 121, 0.8));
    /*     --home-color: #ffffff;
    --home-hover: #03A9F4; */
    --title-color: #ffffff;
    --subtitle-color: #ED1E79;
    --description-color: #DFDDE1;
/*     --span-color: #ffffff; */
  /*   --fa-check-color: #49E670;
    --business-color: #ffffff; */
    --btn-color:#ffffff;
    --btn-background: #6E39E9;
    --main-margin: 1rem 1rem;
    /* --netbook-margin: 0 2.25rem; */
    --container-margin: 1rem 0;
    /* --netbook-container: 1.25rem 0; */
    --container-padding:1rem 1rem;
    --list-margin: 0.8rem 0;
    --title-typography: "Be Vietnam Pro", sans-serif; /* Agregar grosor bold  titulo*/
    --subtitle-typography: "Be Vietnam Pro", sans-serif; /* Agregar grosor regular/normal subtitulo */
    --description-typography: "Roboto", sans-serif;/* Agregar grosor regular/normal descripción */
    --title-size: 1.50rem;
   /*  --netbook-title: 1.5625rem; */
    --subtitle-size: 1.25rem;
   /*  --netbook-subtitle: 1.25rem; */
    --description-size: 1rem;
   /*  --netbook-description: 1rem; */
    /* --business-size: 1.25rem; */
    --home-size: 2rem;
    --btn-size: 1rem;
}
/* Medidas rem, px, % , vh, vw  */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--main-background);
    height: auto;
}

footer {
    background-color: var(--header-background);
}

main{
    background-color: var(--main-background);
}
/*?HOME */
.home{
    margin: var(--main-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__title{
    color: var(--title-color);
    font-family: var(--title-typography);
    font-size: var(--home-size);
    font-weight: bold;
    text-align: center;
}
.home__description{
    color: var(--description-color);
    font-family: var(--description-typography);
    font-size: var(--description-size);
    text-align: center;
    margin: var(--container-margin);
}
.home__link {
    background-color: var(--btn-background);
    color: var(--btn-color);
    text-decoration: none;
    font-size: var(--btn-size);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: var(--container-margin);
    transition: 0.5s ease all; /* Efecto de transición */ 
}

.home__link:hover {
    text-shadow: 0 0 4px var(--btn-color), 0 0 8px var(--btn-color), 0 0 12px var(--btn-color), 0 0 16px var(--btn-color), 0 0 20px var(--btn-color);
}
.home__img-container {
    width: 100%;
    height: 200px;
    overflow: hidden; /* Oculta la parte sobrante */
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.618)); /* Sombra flotante */
}

.home__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: (0.5);
}
.home__img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ED1E79; /* Color deseado */
    opacity: 0.2; /* Ajusta la opacidad del color */
    pointer-events: none; /* Permite la interacción con la imagen */
}

.home__icons{
    background-color: #212529;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
}
.home__icon, .home__icon--big {
    background-color: #483477;
    padding: 0.5rem; 
    width: 50%;
}
.home__icon--big {
    background-color: #920F49;
}

.home__icon-img {
    width: 30%; /* !Controlar */
    display: block;
    margin: auto;
}
.home__subtitle{
    color: var(--description-color);
    font-family: var(--description-typography);
    font-size: var(--description-size);
    text-align: center;
    margin: 0.5rem 0;
}
/* ?ABOUT */
.about{
    background-color: #212529;
}
.about_container{
    padding: var(--container-padding);
}
.about__title{
    color: var(--subtitle-color);
    font-family: var(--subtitle-typography);
    font-size: var(--subtitle-size);
}
.about__description{
    color: var(--description-color);
    font-family: var(--description-typography);
    font-size: var(--description-size);
    margin: var(--container-margin);
}
.about__description--last{
    color: var(--description-color);
    font-family: var(--description-typography);
    /* !Incorporar variable */
    font-size: 0.9rem;
    margin: var(--container-margin);
}
.about__img-container{
    margin: var(--main-margin);
}
.about__img-container--left{
    background-color: #6E39E9;
    margin: var(--container-margin);
    padding: 1rem;
    border-radius: 10px;
}
.about__img{
    width: 50%;
    height: 100%;
    border-radius: 100%;
    border: #ED1E79 2px solid;
    object-fit: cover;
    object-position: center;
    display: block;  
    margin: auto;                                                          
}
.about__name{
    margin: var(--container-margin);
    text-align: center;
    color:#ffffff;
    font-family: var(--subtitle-typography);
    font-size: var(--subtitle-size);
}
.about__ability {
    display: block;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: var(--description-typography);
    text-shadow: 
        0 0 5px #ED1E79, 
        0 0 10px #ED1E79, 
        0 0 15px #ED1E79;
}

/* ?RESPONSIVE */

/* *TABLET */
/* @media (width <= 1024px) {
} */

/* *NETBOOK */
/* *Utilizar esta @media, usar la extención de google para la netbook */
/* *NETBOOK */
@media screen and (min-width: 1024px) {

    
}

/**PC ESCRITORIO */
@media screen and (min-width: 1367px) {
   
}

/* Forzar orientación vertical en dispositivos móviles */
@media screen and (max-width: 1000px) and (orientation: landscape) {
    body {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}