:root {
    --header-background:#ffffff80;
    --main-background: linear-gradient(45deg, rgba(110, 57, 233, 0.8), rgba(237, 30, 121, 0.8));
    /*     --home-color: #ffffff;
    --home-hover: #03A9F4; */
    --title-color: #ffffff;
    --subtitle-color: #ED1E79;
    --description-color: #DFDDE1;
/*     --span-color: #ffffff; */
  /*   --fa-check-color: #49E670;
    --business-color: #ffffff; */
    --btn-color:#ffffff;
    --btn-background: #6E39E9;
    --main-margin: 1rem 1rem;
    /* --netbook-margin: 0 2.25rem; */
    --container-margin: 1rem 0;
    /* --netbook-container: 1.25rem 0; */
    --list-margin: 0.8rem 0;
    --title-typography: "Be Vietnam Pro", sans-serif; /* Agregar grosor bold  titulo*/
    --subtitle-typography: "Be Vietnam Pro", sans-serif; /* Agregar grosor regular/normal subtitulo */
    --description-typography: "Roboto", sans-serif;/* Agregar grosor regular/normal descripción */
    --title-size: 1.50rem;
   /*  --netbook-title: 1.5625rem; */
    --subtitle-size: .875rem;
   /*  --netbook-subtitle: 1.25rem; */
    --description-size: 1rem;
   /*  --netbook-description: 1rem; */
    /* --business-size: 1.25rem; */
    --home-size: 2rem;
    --btn-size: 1rem;
}
/* Medidas rem, px, % , vh, vw  */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--main-background);
    height: auto;
}

footer {
    background-color: var(--header-background);
}

main{
    background-color: var(--main-background);
}
.home{
    margin: var(--main-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__title{
    color: var(--title-color);
    font-family: var(--title-typography);
    font-size: var(--home-size);
    font-weight: bold;
    text-align: center;
}
.home__description{
    color: var(--description-color);
    font-family: var(--description-typography);
    font-size: var(--description-size);
    text-align: center;
    margin: var(--container-margin);
}
/* Agregar efecto neon */
.home__link{
    background-color: var(--btn-background);
    color: var(--btn-color);
    text-decoration: none;
    font-size: var(--btn-size);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: var(--container-margin);
}
.home__img-container {
    width: 100%;
    height: 200px;
    overflow: hidden; /* Oculta la parte sobrante */
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.618)); /* Sombra flotante */
}

.home__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: (0.5);
}
.home__img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ED1E79; 
    opacity: 0.2; /*opacidad del color*/
    pointer-events: none; /* Permite la interacción con la imagen */
}






/*SEGUNDA SECCION*/

/*Introduccion a nuestros servicios*/
.services__container {
    background-color: #212925;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px; 
    padding: 20px;
}

.services__title-servi{
    color:#ED1E79;
    font-family: var(--title-typography);
    font-weight: bold;
    font-size: var(--title-size);
    
}
.services__subtitle-servi{
    color: var(--description-color);
    font-family: var(--subtitle-typography);
    font-weight: normal;
    font-size: var(--subtitle-size);
    
}
.services__description-servi{
    color: var(--description-color);
    font-family: var(--description-typography);
    font-weight: normal;
    font-size: var(--description-size);
    
}

.services__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300%;
    width: 90%;   
    padding: 15px; 
    box-sizing: border-box;
    background-color: #212529;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto; 
}
.services__title{
    color:var(--title-color);
    font-family:var(--description-typography);
    font-weight:bold;
    font-size:var(--description-size);
    margin: 10px;
    
}
.services__description {
    color: var(--description-color);
    font-size:var(--subtitle-size);
    font-family: var(--description-typography);
    font-weight: normal;
    padding: 5px 10px; 
    width: 100%;  
    text-align: center; 
}

.services__icon {
    display: flex;
    justify-content: center;  
    margin-bottom: 10px;     
 }
  
  .services__image {
    width: 70px;             
    
 }







 /*TERCERA SECCION*/

 /*Introduccion a los detalles de los servicios*/
 .info {
    background-color: #212529;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
}

.info__content{
    display: flex;
    flex-direction: column;
}

.info__title{
    color:#ED1E79;
    font-family: var(--title-typography);
    font-weight: bold;
    font-size: var(--title-size);

}
.info__subtitle{
    color: var(--description-color);
    font-family: var(--subtitle-typography);
    font-weight: normal;
    margin-top: 10px;
    font-size: var(--subtitle-size);

}
.info__text{
    color: var(--description-color);
    font-family: var(--description-typography);
    font-weight: normal;
    font-size: 1rem;
    margin-top: 10px;
    font-size: var(--description-size);
    

}

.info__quote {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    width: 100%; 
    height: 100%; 
    padding: 20px; 
    margin-top: 20px;
}
.info__quote-title{
    color:#ED1E79;
    font-family: var(--title-typography);
    font-weight: bold;
    font-size: var(--title-size);

}
.info__quote-subtitle{
    color: var(--description-color);
    font-family: var(--subtitle-typography);
    font-weight: normal;
    margin-top: 10px;
    font-size: var(--subtitle-size);

}


/*Detalles de los servicios*/
.info__item {
    background-color: #6E39E9;
    padding: 10px;
    margin: 10px 0; 
    width: 100%; 
    border-radius: 10px; 
}

.info__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
  }
.info__list-item{
    display: flex;
    align-items: center;  /* Alinea verticalmente el icono y el texto */
    margin-bottom: 10px;
    color: var(--description-color);
    font-size:var(--description-size);
    font-family: var(--description-typography);
}
.info__container-title{
    display: flex;
    justify-content: center;
    
}
.info__item-title{
    color: var(--title-color);
    font-size: var(--subtitle-size);
    font-family: var(--subtitle-typography);
    margin-top: 10px;
       
}
.info__list-item-{
    text-decoration: line-through;
    color: var(--description-color);
    font-size: var(--description-size);
}
.info__list-item .fa-check {
    color: #00c896; 
    font-size: 10px;
    margin-right: 10px;
    
}
.fa-xmark{
    color:red;
}


.info__container-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: 20px; 
}
.info__button-item{
    color:white;
    background-color:#6E39E9;
    width: 50%;
    height: 25px;
    border: 1px solid #ED1E79;
    font-family: var(--description-typography);
    border-radius: 10px;
    margin-top: 15px;
}


/*intro a los planes personalizados*/
.info__plan {
    display: flex;
    flex-direction: column;
}
.info__title{
    color:#ED1E79;
    font-family: var(--title-typography);
    font-size: var(--title-size);
    font-weight: bold;
    margin-top: 10px;

}
.info__subtitle{
    color: var(--description-color);
    font-family: var(--subtitle-typography);
    font-size: var(--subtitle-size);
    font-weight: normal;
    margin-top: 10px;
}
.info__text{
    color: var(--description-color);
    font-family: var(--description-typography);
    font-weight: normal;
    font-size: var(--description-size);
    margin-top: 10px;

}
.info__button{
    color: #ED1E79;
    background-color:#212529 ;
    width: 50%;
    height: 25px;
    border: 1px solid #ED1E79;
    border-radius: 10px;
    margin-top: 15px;
    
}




    /* ?RESPONSIVE */

/* *TABLET */
/* @media (width <= 1024px) {
} */

/* *NETBOOK */
/* *Utilizar esta @media, usar la extención de google para la netbook */
/* *NETBOOK */
@media screen and (min-width: 1024px) {

    
}

/**PC ESCRITORIO */
@media screen and (min-width: 1367px) {
   
}

/* Forzar orientación vertical en dispositivos móviles */
@media screen and (max-width: 1000px) and (orientation: landscape) {
    body {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}
.img{
    width: 30px;
}